*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#container{
    width: 700px;
    margin: 50px auto;
    text-align: center;
}

#game-area img{
    width: 128px;
    height: 128px;
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}